<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--Includes-->
  <?include common.wxi ?>
  
  <Fragment>
    <FeatureGroup Id="CompleteFeatures">
      <Feature Id="Complete" Level="1">
        <ComponentGroupRef Id="ProductComponents"/>
        <!--Add manual files-->
        <ComponentGroupRef Id="ManualFiles" />
        <!--Add event log setup-->
        <ComponentGroupRef Id="EventLogSetup" />
      </Feature>
    </FeatureGroup>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!--Add component from AutoGen.Binaries.wxs-->
      <ComponentGroupRef Id="Binaries"/>
      <!--Add component from AutoGen.Content.wxs-->
      <ComponentGroupRef Id="$(var.OutputProjectName).Content"/>
    </ComponentGroup>
  </Fragment>
</Wix>